.atomic-hover-display * {
  visibility: hidden;
}
.atomic-hover-display:hover * {
  visibility: visible;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
