.atomic-hover-display {
  * {
    visibility: hidden;
  }

  &:hover {
    * {
      visibility: visible;
    }
  }
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
