{% include '@atomic_block/includes/atomic-block-general.html.twig' %}
<div class="content-wrapper">
  <button class="atomic-block-btn btn text-color" type="button">
    {% if variables.configuration.link %}
    <a href="{{ variables.configuration.link }}" class="text">
      {{ variables.configuration.text }}
    </a>
    {% else %}
      {{ variables.configuration.text }}
    {% endif %}
  </button>
</div>

<style>
  .uuid-{{ variables.configuration.uuid }} .atomic-block-btn {
      background-color: {{ variables.configuration.element_properties.button_background_color_rgba }};
      border-color: {{ variables.configuration.element_properties.button_background_color_rgba }};
  }

  {% if variables.configuration.general_properties.font_size %}
  .uuid-{{ variables.configuration.uuid }} .content-wrapper {
    font-size: initial;
  }
  .uuid-{{ variables.configuration.uuid }} .content-wrapper a{
    font-size: {{ variables.configuration.general_properties.font_size*16 }}px;
    font-size: {{ variables.configuration.general_properties.font_size }}rem;
  }
  {% endif %}

</style>
