{#General Properties#}
<style>
  /*Font Size*/
  {% if variables.configuration.general_properties.font_size %}
  .uuid-{{ variables.configuration.uuid }} .content-wrapper{
    font-size: {{ variables.configuration.general_properties.font_size*16 }}px;
    font-size: {{ variables.configuration.general_properties.font_size }}rem;
  }
  {% endif %}

  /*Text Indent*/
  {% if variables.configuration.general_properties.text_indent %}
  .uuid-{{ variables.configuration.uuid }} .content-wrapper{
    text-indent: {{ variables.configuration.general_properties.text_indent*16 }}px;
    text-indent: {{ variables.configuration.general_properties.text_indent }}rem;
  }
  {% endif %}

  /*is_text_bold*/
  {% if variables.configuration.general_properties.is_text_bold %}
  .uuid-{{ variables.configuration.uuid }} .content-wrapper{
    font-weight: bold;
  }
  {% endif %}

  /*Text Color*/
  {% if variables.configuration.general_properties.text_color_rgba %}
  .uuid-{{ variables.configuration.uuid }},.uuid-{{ variables.configuration.uuid }} a, .uuid-{{ variables.configuration.uuid }} .text-color {
    color: {{ variables.configuration.general_properties.text_color_rgba }};
  }
  {% endif %}

  /*Backgroun color*/
  {% if variables.configuration.general_properties.background_color_rgba %}
  {% if variables.configuration.general_properties.hover_display %}
  .uuid-{{ variables.configuration.uuid }}:hover {
    background-color: {{ variables.configuration.general_properties.background_color_rgba }};
  }
  {% else %}
  .uuid-{{ variables.configuration.uuid }} {
    background-color: {{ variables.configuration.general_properties.background_color_rgba }};
  }

  {% endif %}
  {% endif %}

  /*text align*/
  {% if variables.configuration.general_properties.text_align %}
  .uuid-{{ variables.configuration.uuid }} {
    text-align: {{ variables.configuration.general_properties.text_align }};
  }
  {% endif %}

  /*Padding Left*/
  {% if variables.configuration.general_properties.padding.left %}
  .uuid-{{ variables.configuration.uuid }} {
    padding-left: {{ variables.configuration.general_properties.padding.left*16 }}px;
    padding-left: {{ variables.configuration.general_properties.padding.left }}rem;
  }
  {% endif %}

  /*Padding Right*/
  {% if variables.configuration.general_properties.padding.right %}
  .uuid-{{ variables.configuration.uuid }} {
    padding-right: {{ variables.configuration.general_properties.padding.right*16 }}px;
    padding-right: {{ variables.configuration.general_properties.padding.right}}rem;
  }
  {% endif %}

  /*Padding Top*/
  {% if variables.configuration.general_properties.padding.top %}
  .uuid-{{ variables.configuration.uuid }} {
    padding-top: {{ variables.configuration.general_properties.padding.top*16 }}px;
    padding-top: {{ variables.configuration.general_properties.padding.top }}rem;
  }
  {% endif %}

  /*Padding Bottom*/
  {% if variables.configuration.general_properties.padding.bottom %}
  .uuid-{{ variables.configuration.uuid }} {
    padding-bottom: {{ variables.configuration.general_properties.padding.bottom*16 }}px;
    padding-bottom: {{ variables.configuration.general_properties.padding.bottom }}rem;
  }
  {% endif %}

  /*text align*/
  {% if variables.configuration.general_properties.min_height %}
  .uuid-{{ variables.configuration.uuid }} {
    min-height: {{ variables.configuration.general_properties.min_height*16 }}px;
    min-height: {{ variables.configuration.general_properties.min_height }}rem;
  }
  {% endif %}

  /*style*/
  {% if variables.configuration.general_properties.style %}
  .uuid-{{ variables.configuration.uuid }} {
  {{ variables.configuration.general_properties.style }}
  }
  {% endif %}
</style>
