{% include '@atomic_block/includes/atomic-block-general.html.twig' %}
<div class="content-wrapper">
</div>
<style>
  .uuid-{{ variables.configuration.uuid }} {
    background-image: url({{ image_url }});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100%;
  }
</style>
