{% include '@atomic_block/includes/atomic-block-general.html.twig' %}
<div class="content-wrapper">
  {% if variables.configuration.link %}
  <a href="{{ variables.configuration.link }}">
    <{{ variables.configuration.element_properties.title_type }} class="text">{{ variables.configuration.title }}</{{ variables.configuration.element_properties.title_type }}>
  </a>
  {% else %}
    <{{ variables.configuration.element_properties.title_type }} class="text">{{ variables.configuration.title }}</{{ variables.configuration.element_properties.title_type }}>
  {% endif %}
</div>
