{% include '@atomic_block/includes/atomic-block-general.html.twig' %}

<div class="content-wrapper">
  <{{ variables.configuration.element_properties.list_type }} class="list-type">
  {% for key in variables.configuration.list|keys %}
    <li class="li-wrapper">
      {% if variables.configuration.list[key]['url'] %}
        <a href="{{ variables.configuration.list[key]['url'] }}"
           class="item-content">{{ variables.configuration.list[key]['text'] }}</a>
      {% else %}
        <span class="item-content">{{ variables.configuration.list[key]['text'] }}</span>
      {% endif %}
    </li>
  {% endfor %}
</{{ variables.configuration.element_properties.list_type }}>
</div>

<style>
  .uuid-{{ variables.configuration.uuid }} .list-type{
    padding-inline-start: {{ variables.configuration.element_properties.list_padding_inline_start }}px;
  }

  .uuid-{{ variables.configuration.uuid }} li.li-wrapper {
  {% if variables.configuration.element_properties.list_type == 'ul' %} list-style: {{ variables.configuration.element_properties.unordered_list_style }};
  {% elseif variables.configuration.element_properties.list_type == 'ol' %} list-style: {{ variables.configuration.element_properties.ordered_list_style }};
  {% endif %}
  }

  {% if variables.configuration.element_properties.list_item_padding.left %}
  .uuid-{{ variables.configuration.uuid }} .li-wrapper {
    padding-left: {{ variables.configuration.element_properties.list_item_padding.left*16 }}px;
    padding-left: {{ variables.configuration.element_properties.list_item_padding.left }}rem;
  }

  {% endif %}

  {% if variables.configuration.element_properties.list_item_padding.right %}
  .uuid-{{ variables.configuration.uuid }} .li-wrapper {
    padding-right: {{ variables.configuration.element_properties.list_item_padding.right*16 }}px;
    padding-right: {{ variables.configuration.element_properties.list_item_padding.right}}rem;
  }

  {% endif %}

  {% if variables.configuration.element_properties.list_item_padding.top %}
  .uuid-{{ variables.configuration.uuid }} .li-wrapper {
    padding-top: {{ variables.configuration.element_properties.list_item_padding.top*16 }}px;
    padding-top: {{ variables.configuration.element_properties.list_item_padding.top }}rem;
  }

  {% endif %}

  {% if variables.configuration.element_properties.list_item_padding.bottom %}
  .uuid-{{ variables.configuration.uuid }} .li-wrapper {
    padding-bottom: {{ variables.configuration.element_properties.list_item_padding.bottom*16 }}px;
    padding-bottom: {{ variables.configuration.element_properties.list_item_padding.bottom }}rem;
  }

  {% endif %}
</style>
