{% include '@atomic_block/includes/atomic-block-general.html.twig' %}
<div class="content-wrapper" style="position: relative;">
  {{ image }}

  {% if variables.configuration.element_properties.display_content %}
  <div class="image-content" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;">
    <div style="position: relative;width: 100%;height: 100%">
      <div class="inside-wrapper {{ variables.configuration.general_properties.vertical_align }}" style="position: absolute;">
        <h2>
          {% if variables.configuration.content.link %}
          <a href="{{ variables.configuration.content.link }}">{{ variables.configuration.content.title }}</a>
          {% else %}
          {{ variables.configuration.content.title }}
          {% endif %}
        </h2>
        <div>
          {% if variables.configuration.content.link %}
            <a href="{{ variables.configuration.content.link }}">{{ variables.configuration.content.text }}</a>
          {% else %}
            {{ variables.configuration.content.text }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<style>
  .uuid-{{ variables.configuration.uuid }} .image-content {
  {% if variables.configuration.element_properties.background_color_type == 'single_color'%}
    background-color: {{ variables.configuration.general_properties.background_color_rgba }};
  {% elseif variables.configuration.element_properties.background_color_type == 'gradient' %}
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 50%, #000000 100%) !important;
  {% endif %}
  }

  .uuid-{{ variables.configuration.uuid }} .image-content .inside-wrapper {
    top: {{ variables.configuration.element_properties.content_position.top }}rem;
    bottom: {{ variables.configuration.element_properties.content_position.bottom }}rem;
    left: {{ variables.configuration.element_properties.content_position.left }}rem;
    right: {{ variables.configuration.element_properties.content_position.right }}rem;
  }
</style>
